{%  extends 'store/basic/base.html' %}

{% block content %}
<h1>Edit this Basket</h1>
<hr>
<form action="" method="POST">
 {% csrf_token %}

    <h2>Customer</h2>
    <div class="form-group">
        <label for="customer">Select Customer</label>
        <select class="form-control" name='customer' id="customer">
        {% for customer in customers %}
            {% if customer.id == current_customer.id %}
                <option value={{customer.id}} selected>{{customer.name}}</option>
            {% else %}
                <option value={{customer.id}} >{{customer.name}}</option>
            {% endif %}
            
        {% endfor %}
        </select>
    </div>
    <hr>
    <h2>Pickup Location</h2>
    <div class="form-group">
        <label for="pickup">Select Pickup Location</label>
        <select class="form-control" name='pickup' id="pickup">
        {% for pickup_location in pickup_locations %}
            {% if pickup_location.id == current_pickup_location.id %}
                <option value={{pickup_location.id}} selected>{{pickup_location.name}}</option>
            {% else %}
                <option value={{pickup_location.id}} >{{pickup_location.name}}</option>
            {% endif %}
        {% endfor %}
        </select>
    </div>
    <hr>
    <h2>Status</h2>
    <div class="form-group">
        <label for="pickup">Basket Status</label>
        <select class="form-control" name='status' id="status">
        {% for status in statuses %}
            {% if status == current_status %}
                <option value={{status}} selected>{{status}}</option>
            {% else %}
                <option value={{status}} >{{status}}</option>
            {% endif %}
        {% endfor %}
        </select>
    </div>
    <hr>
    <h2>Products</h2>
    <hr>
    <br>
    <div class="row">
        {% for product in products %}
        <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12">
            <div class="card card-body product">
                <h3>{{product.name}}</h3>
                {% if product.active == False %}
                    <h4 style="color:red;"> PRODUCT - INACTIVE </h4>
                {% endif %}
                <p>Price:<span>${{product.price}}</span></p>
                <p>{{product.description}}</p>
                <h4>Order:</h4>
                
                <div class="form-group">
                    <label for="order_product_{{product.id}}">Order Quantity</label>
                    <input min=0 max=1000 step=1 type="number" class="form-control" 
                        id="order_product_{{product.id}}" name="order_product_{{product.id}}" 
                        value={{product.number}}>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2>Notes</h2>
    <div class="card card-body">    
        <div class="form-group">
            <label for="note">Notes</label>
            <textarea class="form-control" name='note' id="note" rows="3">{{basket.note}}</textarea>
        </div>
    </div>
    <hr>
    <hr>
     <button type="submit" class="btn btn-success">Submit Basket</button>
     <hr>
     <br>
</form>



{% endblock %}