<br>

<div class="row">
	<div class="col-sm">
		<div class="card text-center text-white  mb-3" id="total-orders">
			<div class="card-header">
			  	<h5 class="card-title">Total Products</h5>
			</div>
			<div class="card-body">
			    <h3 class="card-title">{{total_products}}</h3>
			</div>
		</div>

	</div>

	<div class="col-sm">

		<div class="card text-center text-white  mb-3" id="orders-delivered">
			<div class="card-header">
			  	<h5 class="card-title">Active Products</h5>
			</div>
			<div class="card-body">
			    <h3 class="card-title">{{total_active_products}}</h3>
			</div>
		</div>

	</div>

	<div class="col-sm">
		<div class="card text-center text-white  mb-3" id="orders-pending">
			<div class="card-header">
			  	<h5 class="card-title">Inactive Products</h5>
			</div>
			<div class="card-body">
			    <h3 class="card-title">{{total_inactive_products}}</h3>
			</div>
		</div>
	</div>

</div>